git+https://github.com/prashantsahlot/FrozenGram.git
py-tgcalls
yt-dlp
aiohttp
flask
Flask-RESTful
tgcrypto
ffmpeg-python
isodate
pillow
psutil
requests
python-dotenv
asyncpg
pymongo
aiofiles
gender-guesser

# Telegram Bot frameworks
python-telegram-bot[job-queue]==20.8
pyrogram==2.0.106
telethon==1.36.0
TgCrypto==1.2.5

# AI / API clients
groq==0.9.0
google-generativeai==0.7.2
huggingface-hub==0.24.6
duckduckgo-search==6.2.5

# Image & video processing
numpy==1.26.4
Pillow==10.4.0
opencv-python==4.7.0.72


# Networking / HTTP
requests==2.32.3

# Rendering (for utils/render.py)
playwright==1.46.0

# Timezones & templates
pytz==2024.2
jinja2






